<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap"
      rel="stylesheet"
    />
    <title>Herramientas Shinobi</title>
  </head>
  <body class="all__body">
    <header class="all__header">
      <nav>
        <ul>
          <li><a href="../index.html">Home</a></li>
          <li>
            <a href="jefes.html">Jefes</a>
          </li>
          <li><a href="habilidades.html">Habilidades</a></li>
          <li>
            <a href="herramientas-shinobi.html">Herramientas Shinobi</a>
          </li>
          <li><a href="contacto.html">Contacto</a></li>
        </ul>
      </nav>
    </header>
    <main class="all_main"></main>
    <footer class="footer">
      <div class="footer__all">
        <div class="footer__all__social">
          <ul>
            <li>
              <a href="https://www.facebook.com/"
                ><img
                  src="../resources/Social icons/Facebook.svg"
                  width="96px"
                  height="96px"
                  alt="Facebook"
              /></a>
            </li>
            <li>
              <a href="https://twitter.com/"
                ><img
                  src="../resources/Social icons/Twitter.svg"
                  width="96px"
                  height="96px"
                  alt="Twitter"
              /></a>
            </li>
            <li>
              <a href="https://www.instagram.com/"
                ><img
                  src="../resources/Social icons/Instagram.svg"
                  width="96px"
                  height="96px"
                  alt="Instagram"
              /></a>
            </li>
            <li>
              <a href="https://www.youtube.com/"
                ><img
                  src="../resources/Social icons/YouTube.svg"
                  width="96px"
                  height="96px"
                  alt="YouTube"
              /></a>
            </li>
          </ul>
        </div>
        <div class="footer__all__legals">
          <ul>
            <li><a href="faq.html">FAQ</a></li>
            <li><a href="about-me.html">ABOUT ME</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
